#about {
  .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'icons bio bio'
    'job1 job2 job3'
    'job4 job5 job6';
    grid-template-columns: repeat(3, 1fr);

    h3, p { font-size: 2rem; }

    .portrait {
      width: 225px;
      height: 225px;
      background: url('../img/portrait.jpg');
      border-radius: 50%;
      border: 3px solid $secondary-color;
    }

    .bio-image {
      grid-area: bioimage;
      margin: auto;
    }
      
    .icons {
      grid-area: icons;
      margin: auto;
      color: $secondary-color;
      @include easeOut;
      
      &::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
      }
    }
      
    .bio {
      grid-area: bio;
      font-size: 1.5rem;
    }

    .job-1 { grid-area: job1; }
    .job-2 { grid-area: job2; }
    .job-3 { grid-area: job3; }
    .job-4 { grid-area: job4; }
    .job-5 { grid-area: job5; }
    .job-6 { grid-area: job6; }

    .job {
      background: darken($primary-color, 5);
      padding: 3rem;
      border-bottom: 3px solid $secondary-color;
      &::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
      }
      h3, h4, p {
        font-size: 1.8rem;
        font-weight: bold;       
      }
      h3, h4, a { color: $secondary-color; }
      a { text-decoration: underline; }    
    }
  }
}

// Tablets & Small Laptops
@media screen and (max-width: 767px) {
  #about {
    .about-info {
      grid-template-areas:
      'bioimage'
      'icons'
      'bio'
      'job1'
      'job2'
      'job3'
      'job4'
      'job5'
      'job6';
      grid-template-columns: 1fr;

      .portrait {
        background: url('../img/portrait_small.jpg');
        width: 150px;
        height: 150px;
        margin-top: 3rem;
        border-radius: 50%;
        border: 3px solid $secondary-color;
      }
    }
  }
}