#bg-img {
  // https://css-tricks.com/perfect-full-page-background-image/
  background: url('../img/background.svg') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    // the color is over the image to be able to see the image 
    // we need to wrap up the background with an rgba to have an opacity too
    background: rgba(43, 43, 43, $background-opacity);   
  }
}

#home {
  // to avoid scrolling bars
  min-height: 100vh;
  height: 100%;
  h1 {
    margin-top: 20vh; 
    text-align: left;
  }
  h2, .icons { text-align: left; }
}
/* Cursor for the Type Writter effect */
.txt-type > .txt { border-right: 0.5rem solid set-text-color($primary-color); }

.text-secondary {
  color: $secondary-color;
  font-weight: bold;
  &:hover {
    color: set-text-color($primary-color);
    @include textShadow;
  }
}

// Media Query Mixins
// Smartphones
@media screen and (max-width: 500px) {
  #home {
    h1 { margin-top: 10vh; }
  }
}