main#work { padding: 9rem 1rem 1rem 1rem; }
.container { width: 100%; margin: 0 auto; padding: 0; }

/* Projects section */
.projects-section {
  text-align: center;
  padding: 1rem;
  .tabCards__filters__desc { display: none;
    &.active--desc { display: block; }
  }
}

.project-tile { font-size: 2rem; }

/* Active Filter Button for the Cards */
.active--btn { color: #fff !important; background: $secondary-color !important; height: 35px; padding: 1rem 1.25rem; box-shadow: 0 3px 3px #000; @include easeOut; outline: none !important; box-shadow: none !important; transition: 0.5s;
}

/* Card Filters */
.tabCards { display: flex; flex-flow: row wrap; justify-content: center; align-items: center; width: 100%;
  .tabCards__filters { width: 280px; margin: 2rem 1rem;
    .tabCards__filters__wrapper { display: flex; flex-flow: row wrap; justify-content: space-between; align-content: center;
      .tabCards__btn__wrapper {
        padding: 3px;
        border-radius: 0.5rem;
        background: linear-gradient(to left bottom, #3490b3, #342a37, #fff, #4a5778, $secondary-color, #444);
        .tabCards__btn { font-size: 1.45rem; display: flex; justify-content: center;
    align-items: center; text-align: center; height: 35px; font-weight: bold; padding: 1rem; border-radius: 0.5rem; background: $primary-color; color: $secondary-color; margin: 0;
        }
      }
    }
  }
}

/* Cards Section */
.cards { display: block; width: 285px; margin-top: 2rem !important;
  .card__item {
    display: block;
    width: 280px;
    height: 215px;
    margin-bottom: 3rem;
    &.show { height: 415px; }
    &.show .box {
      height: 415px;
      transform: translateY(-4px);
      box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
      .imgBox img, .content { opacity: 1; }
    }
    .box {
      position: relative;
      width: 280px;
      height: 185px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      background: #444;
      .imgBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        padding: 5px;
        box-sizing: border-box;
        img {
          min-width: 100%;
          height: 175px;
          opacity: 0.25;
          transition: 0.5s;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
        background: #fff;
        z-index: -1;
      }

      &::after {
        content: '';
        position: absolute;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
        background: #fff;
        z-index: -2;
        filter: blur(5px);
      }

      &:first-child, &:nth-child(5) {
        &::before, &::after {
          background: linear-gradient(to left bottom, #3490b3, #342a37, #fff, #4a5778, $secondary-color, #444);
          border-radius: 0.5rem;
        }
      }

      &:nth-child(2), &:nth-child(6) {
        &::before, &::after {
          background: linear-gradient(to right bottom, #3490b3, #342a37, #fff, #4a5778, $secondary-color, #444);
        }
      }

      &:nth-child(3), &:nth-child(7) {
        &::before, &::after {
          background: linear-gradient(to left top, #3490b3, #342a37, #fff, #4a5778, $secondary-color, #444);
        }
      }

      &:nth-child(4), &:nth-child(8) {
        &::before, &::after {
          background: linear-gradient(right to top, #3490b3, #342a37, #fff, #4a5778, $secondary-color, #444);
        }
      }

      .content {
        position: absolute;
        bottom: 0;
        left: 5px;
        right: 5px;
        bottom: 5px;
        height: 220px;
        background: #444;
        text-align: left;
        padding: 10px;
        opacity: 0;
        transition: 0.5s;
      }

      .content {
        h2, p {
          padding-bottom: 10px;
          color: #fff;
          font-weight: 500;
          line-height: 20px;
        }

        h2 { font-size: 20px; }
        p { font-size: 16px; margin: 0; }
      }
    }

    .icons {
      margin-top: 0.25rem;
      svg { padding: 0.4rem; }
    }

    h2 {
      svg, span { color: $secondary-color; }
    }

    p svg { color: $secondary-color; }
    .icons {
      a, svg.fab { color: $secondary-color; }
    }
  }
}

// Media Query Mixins
// Smartphones
@media screen and (min-width: 576px) {
  .tabCards {
    .tabCards__filters { @include linearLineBG; background-size: 15% 5px; display: flex; justify-content: center !important; width: 100%;
      .tabCards__filters__wrapper { padding: 0 !important; width: 55%; align-content: center !important;
        .tabCards__btn, .active--btn { padding: 1rem 1.5rem; }
      }
    }
  }
}

// Tablets & Small Laptops
@media screen and (min-width: 650px) {
  .cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
    margin: auto;
    padding: 0 !important;
    .card__item {
      margin: 0 1.5rem 3rem 1.5rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .tabCards__filters { background-size: 22% 5px !important;
    .tabCards__filters__wrapper { width: 48% !important;
      .tabCards__btn, .active--btn { padding: 1rem 2rem !important; }
    }
  }
  .cards.container { max-width: 620px; }
}

@media screen and (min-width: 992px) {
  .tabCards__filters { background-size: 28% 5px !important;
    .tabCards__filters__wrapper { width: 38% !important; }
  }
  .cards.container { max-width: 935px; }
}

@media screen and (min-width: 1250px) {
  .tabCards__filters { background-size: 27.8% 5px !important;
    .tabCards__filters__wrapper { width: 40% !important;
      .tabCards__btn, .active--btn { padding: 1rem 3rem !important; }
    }
  }
}

@media screen and (min-width: 1280px) {
  .cards.container { max-width: 1240px; }
}